


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


.hdr{
  font-size: 2rem;
}
li{
  text-decoration: none;
  list-style-type: none;
  color: rgb(5, 5, 5);
}
* {
  box-sizing: border-box;
}
h1{
  font-size: 10rem;
  text-align: left;
}

.blog-list{
  font-size: 1.5rem;
  white-space: nowrap;
  color:rgb(17, 16, 16);
  padding:10px;
}

.blog-feature{
  font-size: 1rem;
  color:rgb(0, 0, 0);
  padding:10px;
}
.blog-content{
  font-size: 1rem;
  color:rgb(8, 8, 8);
  background-color: rgb(255, 246, 246);
  margin-top:10%;

}
.card-body, .card:hover{
  transform: translateY(-10px);

}

.main-ctn{
  margin-top: 5%;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-5px);
  color: 	#663399
}
a.linkedin {
  color:#2867B2;
}

a.twitter {
  color:#1DA1F2;;
}

a.github {
  color: #0c0c0c;
}

.feature{
  margin-left:20%;
  margin-right:20%;
  margin-top:5%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
  margin-bottom:5%;
  width: 75%;
}

.Col{
margin-left:5%;
margin-top:5%;
}

.card{
  margin-top:3%;
}